<%= session[:form_data] %>

<table>
	<tr>
		<th>Name</th>
		<td><%= session[:form_data]['name'] %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= session[:form_data]['location'] %></td>
	</tr>
	<tr>
		<th>Language</th>
		<td><%= session[:form_data]['language'] %></td>
	</tr>
	<tr>
		<th>Comment</th>
		<td><%= session[:form_data]['comment'] %></td>
	</tr>
</table>